*.swp
*.swo
*.rslt
*.log
log.[0-9]*

CHAINED_DATARMOR/Auto/mt3d_[0-9]*.py
CHAINED_DATARMOR/Auto/run_[0-9]*.pbs
PSO_data
CHAINED_DATARMOR/Auto/gen_mt3d.py

SENSITIVITY_ANALYSIS/Auto/mt3d_[0-9]*.py
SENSITIVITY_ANALYSIS/Auto/run_[0-9]*.pbs
SENSITIVITY_ANALYSIS/Auto/gen_mt3d*

Example/*[0-9].pbs
Example/*[0-9].py

Postprocessing/pbest.py

Forward_MT/forward_1d.pyc

Postprocessing_1D/mysfit_distribution.py
Config/bolivia_24param.zip/
Postprocessing/Makefile.local
Postprocessing/analytical_test.py
Postprocessing/cpso_pp.pyc
Postprocessing/data/
Postprocessing/m_select.bk.py
Postprocessing/marginal_law.py
Postprocessing/mp_test.py
Postprocessing/mysift.py
RUN/

1D/Postprocessing_1D/mysfit_distribution.py
1D/Postprocessing_1D/debug_pdf_interval.py
